<!DOCTYPE html>
<html lang="fr" xmlns :th= http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8" />
    <title>Add Connection</title>
</head>
<body>
    <form action="#" method="post" th:action="@{/addedconnection}">
        <fieldset>
           <legend>Les coordonnées de votre amis</legend> 
           <label for="nom">Nom</label>
           <input type="text" name="nom" id="nom">
           <label for="prenom">Prénom</label>
           <input type="text" name="prenom" id="prenom">
           <label for="dateDeNaissance">Date de naissance</label>
           <input type="date" name="dateDeNaissance" id="dateDeNaissance">
           <label for="email">E-mail</label>
           <input type="email" name="email" id="email">
        </fieldset>
        <input type="submit" value="Envoyer" id="sendAddCoonection">
      </form>
</body>
</html>