<!DOCTYPE html>
<html lang="fr" xmlns :th= http://www.thymeleaf.org>
<head>
    <meta charset="UTF-8" />
    <title>Admin</title>
    <style type="text/css">
        .backgroundVert{background-color: forestgreen; font-size: larger; color: white;}
        .aHref {color: black; text-decoration: none;}
        .divFelx{display: flex;}
        .divFlexSpaceBetween{justify-content: space-between;}
        .marginDiv{margin: 5px;}
    </style>
</head>
<body>
    <div class="divFelx divFlexSpaceBetween"> 
        <div style="display: flex;">
            <p class="backgroundVert">Pay My Buddy</p>
        </div>
        <div class="divFelx">
            <div class="divFelx marginDiv">
                <a href="accueil" class="aHref">Home</a>
            </div>
            <div class="divFelx marginDiv">
                <a href="transfer" class="aHref">Transfer</a>
            </div>
            <div class="divFelx marginDiv">
                <a href="profile" class="aHref">Profile</a>
            </div>
            <div class="divFelx marginDiv">
                <a href="contact" class="aHref">Contact</a>
            </div>
            <div class="divFelx marginDiv">
                <a href="logoff" class="aHref">Log off</a>
            </div>
        </div>    
    </div>
    <p>  
        <span th:text="${getUser}"> </span>
        <span th:text="${debit}" class="backgroundVert"> </span>
    </p>
    <table>
        <caption>TRANSACTIONS</caption>
        <thead>
            <tr>
                <th>Date transaction</th>
                <th>Buddy</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${getCostsTrans.empty}">
                <td colspan="3">Aucune transaction en base de données</td>
            </tr>
            <tr th:each="costsTrans: ${getCostsTrans}">
                <td><span th:text="${#dates.format(costsTrans.transactions.dateTrans, 'dd.MM.yyyy')}"> Date transaction </span></td>
                <td><span th:text="${costsTrans.users.firstName}"> Buddy </span></td>
                <td><span th:text="${costsTrans.amount}"> Amount </span></td>
            </tr>
        </tbody>
    </table>
</body>
</html>